* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   font-family: "Manrope", sans-serif;
   height: 100%;
   width: 100%;
   font-size: 100%;
   color: var(--text-color);
   line-height: 1;
   font-weight: 400;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
:root {
   --text-color: #333;
   --body-bg: #fff;
   --main-block-suptitle: #FF9900;
   --title: #000;
   --main-block-bg: #BDCCFF;
   --button-bg: #F85A47;
   --button-bg-hover: #b9473a;
   --tabs-option-bg: rgba(0, 0, 0, 0.4);
   --tabs-option-hover: rgba(0, 0, 0, 0.6);
   --input-placeholder: #31353B;
   --how-icon-1: #9672FF;
   --how-icon-2: #4DDFFD;
   --how-icon-3: #F2B8EC;
   --featured-bg: #F1FFFF;
   --footer-link: #2CBDE7;
   --footer-bg: #FBFCFC;

}
[class*="__container"] {
   max-width: 1200px;
   margin: auto;
   padding: 0px 15px;
}
@media (max-width: 1199.98px) {
   [class*="__container"] {
      max-width: 970px;
   }
}
@media (max-width: 990.98px) {
   [class*="__container"] {
      max-width: 750px;
   }
}
@media (max-width: 767.98px) {
   [class*="__container"] {
      max-width: none;
   }
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.page {
   flex: 1 1 auto;
}
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2;
}

.header__container {
   display: flex;
   justify-content: space-between;
   min-height: 103px;
   align-items: center;
   padding-top: 10px;
   padding-bottom: 10px;
   column-gap: 10px;
   row-gap: 15px;
}

@media (max-width: 767.98px) {
   .header__container {
      flex-direction: column;
      min-height: 0;
   }
}

.header__logo {
   font-weight: 800;
   font-size: 23px;
   color: inherit;
}

.menu__list {
   display: flex;
   column-gap: 46px;
   row-gap: 5px;
   flex-wrap: wrap;
}

.menu__link {
   font-weight: 700;
   font-size: 13px;
   color: inherit;
}

@media (max-width: 767.98px) {
   .menu__list {
      justify-content: center;
   }
   .menu__link {
      font-size: 18px;
   }
}
.menu__link:hover {
   text-decoration: underline;
}

.main-block__container {
   padding-top: 184px;
   padding-bottom: 110px;
   position: relative;
}

.main-block__container::after {
   content: "";
   background-color: var(--main-block-bg);
   position: absolute;
   top: 0;
   width: 200%;
   height: 100%;
   left: 67.15%;
}

.body-main-block {
   position: relative;
   display: flex;
   align-items: flex-start;
}

.body-main-block__content {
   flex: 0 1 50%;
}

.content-main-block {
   padding-top: 40px;
   position: relative;
   z-index: 2;
}

.content-main-block__body {
   padding-right: 80px;
   margin-bottom: 14px;
}

.content-main-block__suptitle {
   color: var(--main-block-suptitle);
   font-size: 22px;
   font-weight: 700;
   line-height: 29px;
   text-transform: uppercase;
   margin-bottom: 24px;

}

.content-main-block__title {
   font-size: 54px;
   font-weight: 800;
   line-height: 73px;
   color: var(--title);
   max-width: 484px;
   margin-bottom: 24px;
}

.content-main-block__description {
   line-height: 23px;
   font-size: 17px;
   letter-spacing: 0.01em;
   margin-bottom: 24px;
}


.form-main-block {
   margin-right: -188px;
   position: relative;
   z-index: 2;
   display: flex;
   background: var(--body-bg) url("../images/icons/form-home-icon.svg") 33px 32px no-repeat;
   box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.form-main-block__input {
   border: 1px solid #DADADA;
   padding: 0px 0px 0px 74px;
   background-color: transparent;
   width: 100%;
   font-size: 20px;
   height: 86px;
   flex: 1 1 auto;
}

.form-main-block__input::placeholder {
   color: var(--input-placeholder);
   opacity: 0.3;
}

.form-main-block__btn {
   color: var(--body-bg);
   height: 86px;
   width: 188px;
   flex: 0 0 188px;
   font-weight: 600;
   background-color: var(--button-bg);
   padding: 5px 15px;
   font-size: 17px;
   line-height: 23px;
   letter-spacing: 0.01em;
   transition: all 0.3s ease 0s;
}

.form-main-block__btn:hover {
   background-color: var(--button-bg-hover);
}

.body-main-block__slider {
   flex: 0 1 50%;
   min-width: 0;
}

.slider-main-block__slide {
   position: relative;
   padding-bottom: 95%;
}

.slider-main-block__slide img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.body-main-block__arrows {
   position: absolute;
   bottom: 0;
   right: 0;
   display: flex;
   align-items: center;
   gap: 40px;
}

.body-main-block__arrow.swiper-button-prev, .body-main-block__arrow.swiper-button-next {
   position: static;
   height: 20px;
   width: 11px;
   background: url("../images/icons/arrow-icon.svg") 0 0 / 100% no-repeat;
}

.body-main-block__arrow.swiper-button-prev {
   transform: rotate(-180deg);
}

.body-main-block__arrow::after {
   display: none;
}

.partners-main-block {
   max-width: 65%;
}

.partners-main-block__label {
   font-size: 17px;
   line-height: 23px;
   letter-spacing: 0.01em;
   padding-bottom: 24px;
}

.partners-main-block__items {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
   align-items: center;
   justify-content: space-between;
}

.partners-main-block__item img {
   max-width: 100%;
}

@media (max-width: 1199.98px) {
   .body-main-block {
      display: block;
   }

   .form-main-block {
      margin-right: 0;
   }

   .body-main-block__content {
      margin-bottom: 40px;
   }

   .main-block__container {
      padding-top: 100px;
      padding-bottom: 30px;
   }

   .main-block__body {
      margin-bottom: 40px;
   }
   .partners-main-block {
      max-width: none;
      position: relative;
      z-index: 2;
   }
   .content-main-block__body {
      padding-right: 0px;
   }
}

@media (max-width: 767.98px) {
   .partners-main-block__items {
      justify-content: center;
   }
   .content-main-block__title {
      font-size: 30px;
      line-height: 120%;
   }
   .form-main-block {
      display: block;
   }
   .form-main-block__btn {
      width: 100%;
   }
}

@media (max-width: 479.98px) {
   .form-main-block {
      background: var(--body-bg);
   }
   .form-main-block__input {
      padding: 0px 15px;
   }
}

.how__container {
   padding-top: 110px;
   padding-bottom: 110px;
}

@media (max-width: 991.98px) {
   .how__container {
      padding-top: 70px;
      padding-bottom: 70px;
   }
}
@media (max-width: 767.98px) {
   .how__container {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}

.how__title {
   margin-bottom: 70px;
}

.title {
   font-weight: 600;
   font-size: 40px;
   line-height: 1.375;
   color: var(--title);
}

@media (max-width: 767.98) {
   .title {
      font-size: 30px;
   }
}

.title_center {
   text-align: center;
}

.how__items {
   display: grid;
   align-items: start;
   grid-template-columns: repeat(3, minmax(auto, 260px));
   column-gap: 30px;
   row-gap: 45px;
   justify-content: space-between;
}

@media (min-width: 991px) {
   .how__items {
      padding: 0px 35px;
   }
}

.item-how {
   text-align: center;
   display: grid;
   justify-items: center;
   position: relative;
}

.item-how:not(:last-child)::after {
   content: "";
   position: absolute;
   right: 0;
   top: 41px;
   width: 210px;
   height: 11px;
   transform: translate(86.5%, 0px);
   background: url("./images/icons/how-decor.svg") 0 0  / 100% no-repeat;
}

.item-how_2:not(:last-child)::after {
   transform: translate(86.5%, 0px) rotate(-180deg);
}

.item-how__icon {
   margin-bottom: 50px;
   width: 90px;
   height: 90px;
   border-radius: 20px;
   display: grid;
   place-items: center;
}

.item-how__icon_1 {
   background-color: var(--how-icon-1);
   box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}

.item-how__title {
   margin-bottom: 15px;
   font-weight: 600;
   font-size: 22px;
   line-height: 30px;
   color: var(--title);
}

.item-how__description {
   line-height: 26px;
}

.item-how__icon_2 {
   background-color: var(--how-icon-2);
   box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}

.item-how__icon_3 {
   background-color: var(--how-icon-3);
   box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

@media (max-width: 1199.98px) {
   .item-how:not(:last-child)::after {
      width: 170px;
      transform: translate(69%, 0px);
   }
   .item-how_2:not(:last-child)::after {
      transform: translate(69%, 0px) rotate(-180deg);
   }
}
@media (max-width: 991.98px) {
   .item-how:not(:last-child)::after {
      width: 130px;
      transform: translate(63%, 0px);
   }
   .item-how_2:not(:last-child)::after {
      transform: translate(63%, 0px) rotate(-180deg);
   }
}
@media (max-width: 767.98px) {
   .how__items {
      grid-template-columns: 1fr;
   }
   .item-how:not(:last-child)::after {
      display: none;
   }
   .item-how__icon {
      margin-bottom: 20px;
   }
   .how__title {
      margin-bottom: 30px;
   }
}

.deals__container {
   padding-top: 110px;
   padding-bottom: 110px;
}

@media (max-width: 991.98px) {
   .deals__container {
      padding-top: 70px;
      padding-bottom: 70px;
   }
}

@media (max-width: 767.98px) {
   .deals__container {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}

.deals__header {
   margin-bottom: 50px;
}

.header-deals {
   display: flex;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;
}

.header-deals__content {
   flex: 1 1 auto;
}

.header-deals__title:not(:last-child) {
   margin-bottom: 15px;
}

.header-deals__description {
   max-width: 470px;
   line-height: 1.5;
}

.header-deals__link {
   display: inline-block;
   background-color: var(--button-bg);
   box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
   border-radius: 5px;
   font-weight: 500;
   font-size: 17px;
   line-height: 1.35;
   text-align: center;
   color: var(--body-bg);
   padding: 22px 33px;
   text-transform: capitalize;
   transition: all 0.3s ease 0s;
}

.header-deals__link:hover {
   background-color: var(--button-bg-hover);
}

@media (max-width: 991.98px) {
   .header-deals__link {
      width: 100%;
   }
}

.tabs-deals__nav {
   display: flex;
   flex-wrap: wrap;
   column-gap: 50px;
   row-gap: 10px;
   margin-bottom: 35px;
}

.tabs-deals__button {
   font-size: 19px;
   line-height: 1.37;
   background-color: transparent;
   position: relative;
   transition: color 0.3s ease 0s;
}

.tabs-deals__button::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 1px;
   transition: width 0.3s ease 0s;
   background-color: var(--button-bg);
}

.tabs-deals__button:hover {
   color: var(--button-bg);
}

.tabs-deals__button:hover::after {
   width: 100%;
}

.tabs-deals__button.active {
   color: var(--button-bg);
}

.tabs-deals__button.active::after {
   width: 100%;
}

.tabs-deals__item {
   display: none;
}

.tabs-deals__item.active {
   display: block;
}

.item-tabs__items {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
   gap: 30px;
}

.item-tabs__item {
   position: relative;
}

.item-tabs__options {
   position: absolute;
   left: 14px;
   z-index: 2;
   top: 14px;
   display: flex;
   flex-wrap: wrap;
   gap: 6px;
}

.item-tabs__option {
   background: var(--tabs-option-bg);
   border: 1px solid var(--body-bg);
   border-radius: 5px;
   font-size: 12px;
   color: var(--body-bg);
   padding: 6px 12px;
   cursor: pointer;
   transition: background-color 0.3s ease 0s;
}

.item-tabs__option:hover {
   background-color: var(--tabs-option-hover);
}

.item-tabs__image {
   position: relative;
   padding-bottom: 81%;
   display: block;
   border-radius: 5px;
   overflow: hidden;
}

.item-tabs__image:hover img {
   transform: scale(1.1);
}

.item-tabs__image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.3s ease 0s;
}


.featured__container {
   padding-top: 110px;
   padding-bottom: 110px;
}

@media (max-width: 991.98px) {
   .featured__container {
      padding-top: 70px;
      padding-bottom: 70px;
   }
}

@media (max-width: 767.98px) {
   .featured__container {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}

.featured__title {
   margin-bottom: 95px;
}

.featured__body {
   background-color: var(--featured-bg);
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 77px;
   row-gap: 40px;
   padding: 40px 40px 80px 40px;
}

@media (max-width: 991.98px) {
   .featured__body {
      display: flex;
      flex-direction: column-reverse;
   }
   .featured__title {
      margin-bottom: 50px;
   }
}

@media (max-width: 767.98px) {
   .featured__body {
      margin: 0px -15px;
      padding: 20px 15px;
   }

   .featured__title {
      margin-bottom: 50px;
   }
}

.images-featured {
   display: grid;
   justify-items: center;
}

.images-featured__item:first-child {
   border-left: 1px solid var(--title);
   border-right: 1px solid var(--title);
   filter: drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
}

.images-featured__item img {
   max-width: 100%;
}

.images-featured__item_mini {
   margin: -114px 20px 0px 20px;
   filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
}

.featured__content {
   display: flex;
   flex-direction: column;
}

.content-featured__title {
   font-weight: 600;
   font-size: 31px;
   line-height: 1.35;
   color: var(--title);
   margin-bottom: 28px;
}

@media (max-width: 767.98px) {
   .content-featured__title {
      font-size: 24px;
   }
}

.content-featured__description {
   line-height: 1.5;
   margin-bottom: 42px;
   letter-spacing: 0.01em;
   max-width: 344px;
}

.content-featured__options {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 80px;
   row-gap: 34px;
   margin-bottom: 54px;
}

.options-content-featured__label {
   color: var(--title);
   line-height: 1.35;
   font-weight: 700;
   margin-bottom: 12px;
}

.options-content-featured__value {
   font-size: 17px;
   line-height: 1.35;
}

.content-featured__link {
   background-color: var(--button-bg);
   color: var(--body-bg);
   text-transform: uppercase;
   display: block;
   text-align: center;
   padding: 16px 36px;
   border-radius: 5px;
   transition: all 0.3s ease 0s;
   box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}

.content-featured__link:hover {
   background-color: var(--button-bg-hover);
}

@media (min-width: 991.98px) {
   .content-featured__body{
      max-width: 412px;
      padding-top: 40px;
      flex: 1 1 auto;
   } 
   .content-featured__link {
      max-width: 412px;
   }
}

@media (max-width: 479.98px) {
   .content-featured__options {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 35px;
   }
}

.reviews__container {
   padding-top: 110px;
   padding-bottom: 110px;
}

@media (max-width: 991.98px) {
   .reviews__container {
      padding-top: 70px;
      padding-bottom: 70px;
   }
}

@media (max-width: 767.98px) {
   .reviews__container {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}

.reviews__title {
   margin-bottom: 50px;
   max-width: 570px;
}

.reviews__items {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
   gap: 30px;
   padding-bottom: 85px;
}

.item-reviews {
   color: inherit;
   padding: 50px 40px;
   border: 1px solid #EBEBEB;
   border-radius: 10px;
   background-color: var(--body-bg);
   transition: all 3s ease 0s;
}

.item-reviews:hover {
   border: 1px solid transparent;
   box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
}

.item-reviews__raiting {
   margin-bottom: 33px;
}

.item-review__description {
   line-height: 1.75;
   margin-bottom: 50px;
}

.author-item-reviews {
   display: flex;
   gap: 20px;
   align-items: center;
}

.author-item-reviews__avatar {
   flex: 0 0 48px;
   border-radius: 50%;
   overflow: hidden;
}

.author-item-reviews__name {
   font-weight: 700;
   line-height: 1.375;
}

.author-item-reviews__location {
   font-size: 14px;
   line-height: 1.35;
}

   .footer-reviews {
      display: flex;
      column-gap: 100px;
   }

   @media (max-width: 991.98px) {
      .footer-reviews {
         row-gap: 30px;
         flex-wrap: wrap;
      }
   }   

   .footer-reviews__partners {
      flex: 1 1 auto;
   }

   .partners-footer-reviews {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
   }

   .footer-reviews__info {
      letter-spacing: 0.01em;
      line-height: 1.5;
      max-width: 300px;
   }

   .footer-reviews__info a:first-child {
      color: inherit;
   }

   .footer-reviews__info a:nth-child(2) {
      color: var(--footer-link);
      text-decoration: underline;
      transition: all 3s ease 0s;
   }

   .footer-reviews__info a:nth-child(2):hover {
      text-decoration: none;
   }

   .subscribe {
      background-color: var(--footer-bg);
   }

   .subscribe__container {
      padding-top: 110px;
      padding-bottom: 140px;
   }

   @media (max-width: 991.98px) {
      .subscribe__container {
         padding-top: 50px;
         padding-bottom: 50px;
      }
   }

   @media (max-width: 767.98px) {
      .subscribe__container {
         padding-top: 30px;
         padding-bottom: 30px;
      }
   }

   .subscribe__header {
      margin-bottom: 34px;
      text-align: center;
   }

   .subscribe__title {
      font-weight: 700;
      font-size: 45px;
      line-height: 144.2%;
      letter-spacing: 0.02em;
      color: var(--title);
   }

   .subscribe__suptitle {
      font-weight: 700;
      font-size: 23px;
      line-height: 144.2%;
      letter-spacing: 0.02em;
   }

   .subscribe__form {
      max-width: 686px;
      margin: auto;
   }

   .form-subscribe {
      background: var(--body-bg);
      display: flex;
      gap: 15px;
      padding: 25px 45px;
      box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
   }

   .form-subscribe__content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
   }

   .form-subscribe__label {
      font-weight: 500;
      font-size: 17px;
      display: block;
      line-height: 144.2%;
      margin-bottom: 10px;
      letter-spacing: 0.02em;
      opacity: 0.2;
   }

   .form-subscribe__input {
      font-weight: 700;
      flex: 1 1 auto;
      width: 100%;
      font-size: 20px;
      letter-spacing: 0.02em;
   }

   .form-subscribe__button {
      background-color: var(--button-bg);
      color: var(--body-bg);
      font-weight: 500;
      font-size: 18px;
      height: 72px;
      line-height: 144.2%;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      transition: all 0.3s ease 0s;
      padding: 10px 40px;
      box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
   }

   .form-subscribe__button:hover {
      background-color: var(--button-bg-hover);
   }

   @media (max-width: 991.98px) {
      .subscribe__title {
         font-size: 30px;
      }
      .subscribe__suptitle {
         font-size: 20px;
      }
   }
   @media (max-width: 767.98px) {
      .subscribe__title {
         font-size: 24px;
      }
      .subscribe__suptitle {
         font-size: 18px;
      }
      .form-subscribe {
         margin: 0px -15px;
         padding: 10px 15px;
         flex-direction: column;
      }
   }

      .footer {
         background-color: var(--footer-bg);
      }
   
      .footer__container {
         padding-top: 60px;
         padding-bottom: 60px;
         display: grid;
         row-gap: 70px;
         column-gap: 20px;
         grid-template-columns: auto 1fr;
         border-top: 1px solid #DEDFE1;
      }
   
      .footer__logo {
         font-weight: 800;
         font-size: 23px;
         line-height: 1.35;
         color: inherit;
      }
   
      .footer__menu {
         display: flex;
         justify-content: flex-end;
      }
   
      .menu-footer__list {
         display: flex;
         column-gap: 45px;
         flex-wrap: wrap;
         justify-content: center;
         row-gap: 15px;
      }
   
      .menu-footer__link {
         font-weight: 700;
         font-size: 13px;
         line-height: 1.3;
         color: inherit;
      }

      .menu-footer__link:hover {
         text-decoration: underline;
      }
   
      .footer__copyright {
         text-align: center;
         font-weight: 700;
         font-size: 12px;
         line-height: 1.33;
      }

      @media (min-width: 768px) {
         .footer__copyright {
            grid-column: span 2;
         }
      }

      @media (max-width: 767.98px) {
         .footer__container {
               padding-top: 30px;
               padding-bottom: 30px;
               row-gap: 30px;
               grid-template-columns: 1fr;
               justify-items: center;
            }
      }